<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuhai.mapper.AuthSystemMapper">

    <sql id="select_column_list">
        id,`name`,title,description,status,update_time,create_time
    </sql>

    <!--添加系统-->
    <insert id="insertAuthSystem" parameterType="AuthSystem" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into auth_system (id,`name`,title,description,status) values (#{id},#{name},#{title},#{description},#{status});
    </insert>

    <!--修改系统-->
    <update id="updateAuthSystem" parameterType="AuthSystem">
        UPDATE auth_system
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status}</if>
        </set>
        WHERE id = #{id}
    </update>

    <!--删除系统-->
    <delete id="deleteAuthSystem">
      DELETE FROM auth_system WHERE id IN
      <foreach collection="array" index="index" item="id" open="(" separator="," close=")">
          #{id}
      </foreach>
    </delete>

    <!--根据系统id查找系统-->
    <select id="selectAuthSystemById" resultType="AuthSystem">
        SELECT <include refid="select_column_list"/> FROM auth_system WHERE id = #{id}
    </select>

    <!--系统列表-->
    <select id="selectAuthSystemList" resultType="AuthSystem">
        SELECT <include refid="select_column_list"/> FROM auth_system
    </select>


</mapper>